
.icon[data-v-bafb778f] {
  padding-top: 0.5rem;
}
#btn_group[data-v-bafb778f] {
  z-index: 100;
  width: 4rem;
  height: 3rem;
}
#btn_group button[data-v-bafb778f] {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
}
