
.old-price[data-v-e985edab] {
  text-decoration: line-through;
  color: red;
}
.cart-item[data-v-e985edab] {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.sales-ribbon[data-v-e985edab] {
  color: red;
  position: relative;
  background-color: transparent;
  justify-self: flex-end;
  grid-area: discount;
}
.cart-item__image img[data-v-e985edab] {
  width: 110px;
  height: 110px;
  border-radius: 15px;
}
.cart-item__info[data-v-e985edab] {
  margin-left: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "name remove"
    "price price"
    "quantity discount"
    "total discount";
  grid-gap: 5px;
}
.cart-item__name[data-v-e985edab] {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
  grid-area: name;
}
.cart-item__price[data-v-e985edab] {
  font-size: 1.2rem;
  margin-bottom: 5px;
  grid-area: price;
}
.cart-item__quantity[data-v-e985edab] {
  font-size: 1.2rem;
  margin-bottom: 5px;
  grid-area: quantity;
}
.cart-item__total[data-v-e985edab] {
  font-size: 1.2rem;
  margin-bottom: 5px;
  grid-area: total;
}
.cart-item__remove[data-v-e985edab] {
  grid-area: remove;
  justify-self: end;
  align-self: start;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
  color: var(--font-primary);
  grid-area: remove;
  font-size: 1rem;
}
.cart-item__add[data-v-e985edab] {
  padding-right: 1rem;
  padding-left: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
  color: var(--font-primary);
  margin-right: 5px;
  grid-area: add;
  font-size: 1.5rem;
}
.cart-item__subtract[data-v-e985edab] {
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: white;
  color: var(--font-primary);
  margin-right: 5px;
  grid-area: subtract;
  font-size: 1.5rem;
}
.cart-item__add[data-v-e985edab]:hover,
.cart-item__subtract[data-v-e985edab]:hover {
  background-color: var(--dark-primary);
}
.cart-item__remove[data-v-e985edab]:hover {
  background-color: var(--dark-primary);
  border-radius: 15px;
}
@media screen and (max-width: 1100px) {
.sales-ribbon[data-v-e985edab] {
    position: absolute;
    transform: rotate(-45deg);
}
.cart-item__info[data-v-e985edab] {
    grid-template-areas:
      "name remove"
      "price price"
      "quantity quantity"
      "total total";
}
}

.back-button[data-v-661b4928] {
  position: absolute;
  top: 4rem;
  left: 1rem;
}
