
.guest-checkout[data-v-47ad48ac] {
  font-size: 1.1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.guest-checkout[data-v-47ad48ac]:hover {
  color: white;
}
.summary[data-v-47ad48ac] {
  background-color: var(--primary);
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
  padding: 20px;
  font-size: 1.1rem;
}
.summary h2[data-v-47ad48ac] {
  margin-bottom: 10px;
  color: white;
  letter-spacing: 0.3rem;
}
.summary p[data-v-47ad48ac] {
  margin-bottom: 5px;
  text-align: left;
}
.checkout-btn[data-v-47ad48ac] {
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  color: black;
}
.checkout-btn[data-v-47ad48ac]:hover {
  background-color: var(--dark-primary);
}
@media screen and (max-width: 768px) {
.summary[data-v-47ad48ac] {
    margin-bottom: 2.5rem;
}
}

h1[data-v-f3227c40] {
  color: white;
}
.cart-container[data-v-f3227c40] {
  display: flex;
  width: 100%;
  padding: 20px;
}
.main-cart[data-v-f3227c40] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 110%;
  padding: 20px;
}
.summary-container[data-v-f3227c40] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.title[data-v-f3227c40] {
  font-size: 2rem;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}
.summary[data-v-f3227c40] {
  font-size: 1.5rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
.main-cart[data-v-f3227c40] {
    width: 80%;
}
.summary-container[data-v-f3227c40] {
    width: 80%;
}
}
@media screen and (max-width: 767px) {
.cart-container[data-v-f3227c40] {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}
.main-cart[data-v-f3227c40] {
    width: 100%;
}
.summary-container[data-v-f3227c40] {
    width: 100%;
}
.summary[data-v-f3227c40] {
    width: 100%;
}
}
