
.form-container[data-v-3fc4952d] {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 0.5rem;
}
.form-container .input[data-v-3fc4952d] {
  width: 80%;
}
.form-container h1[data-v-3fc4952d] {
  letter-spacing: 0.5rem;
  align-self: center;
  color: var(--dark-primary);
}
.form-container button[data-v-3fc4952d] {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--primary);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  margin: 1rem auto;
}
.form-container button[data-v-3fc4952d]:hover {
  background-color: var(--dark-primary);
}
.link[data-v-3fc4952d] {
  text-align: end;
  color: var(--primary);
  font-weight: bold;
  text-decoration: none;
}
.link[data-v-3fc4952d]:hover {
  text-decoration: underline;
}
@media screen and (max-width: 375px) {
}

@media screen and (max-width: 375px) {
.login[data-v-af5d0675] {
    margin: 2rem;
    width: 80%;
}
}